.box-shadow-m {
  box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
}

.box-shadow-m2 {
  box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
}

.box-shadow-l {
  box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.15);
}
